* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}
header .header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 129px;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
}
header .header-top .socialMedia {
  min-height: 129px;
  display: flex;
  align-items: center;
  gap: 10px;
}
header .header-top .socialMedia i {
  border: 1px solid #f1f1f1;
  border-radius: 50%;
  font-size: 17px;
  width: 10%;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4d4d4d;
  transition: 0.4s;
  cursor: pointer;
}
header .header-top .socialMedia i:hover {
  border: none;
  background-color: #95adbe;
  color: #ffffff;
}
header .header-top .publishCompanyLogo {
  min-height: 129px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header .header-top .publishCompanyLogo h2 {
  font-family: Lora, serif;
  font-size: 22px;
  font-weight: 900;
  line-height: 26px;
}
header .header-top .publishCompanyLogo h2 span {
  color: #ff7a5c;
  font-family: Lora, serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
header .header-top .publishCompanyLogo p {
  font-family: Lora, serif;
  font-size: 13px;
  font-weight: 500px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.3);
}
header .header-top .search {
  min-height: 129px;
  display: flex;
  align-items: center;
  justify-content: end;
}
header .header-top .search .searchInp {
  min-height: 52px;
  min-width: 300px;
  border-radius: 30px;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .header-top .search .searchInp #searchInp {
  width: 80%;
  min-height: 40px;
  border: transparent;
  background-color: transparent;
  margin-left: 10px;
}
header .header-top .search .searchInp #searchInp::placeholder {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}
header .header-top .search .searchInp #searchBtn {
  background-color: #95adbe;
  border-top-right-radius: 30px;
  width: 20%;
  min-height: 52px;
  border: none;
  color: #fff;
  border-bottom-right-radius: 30px;
}

main #welcome {
  min-height: 700px;
  width: 100%;
  background-image: url(/assets/img/bg_1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  background-attachment: fixed;
  justify-content: center;
  flex-wrap: wrap;
}
main #welcome .welcomeTxt {
  width: 100%;
  min-height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main #welcome .welcomeTxt h2 {
  font-family: Lora, serif;
  font-size: 60px;
  color: #000000;
  font-weight: 500;
  width: 55%;
  position: relative;
}
main #welcome .welcomeTxt p {
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 27px;
  min-height: 60px;
  display: flex;
  align-items: center;
}
main #welcome .welcomeTxt div {
  display: flex;
  gap: 5px;
}
main #welcome .welcomeTxt div .view {
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  color: #ffffff;
  line-height: 27px;
  font-weight: 500;
  min-width: 150px;
  min-height: 57px;
  border: none;
  border-radius: 5px;
  background-color: #95adbe;
}
main #welcome .welcomeTxt div .explore {
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  color: #111;
  line-height: 27px;
  font-weight: 700;
  min-width: 150px;
  min-height: 57px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
}
main #welcome .all {
  display: flex;
  align-items: center;
  justify-content: center;
}
main #welcome .all .welcomeItemTxt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: -435px;
  width: 20%;
}
main #welcome .all .welcomeItemTxt i {
  width: 170px;
  min-height: 170px;
  border-radius: 50%;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4f0;
}
main #welcome .all .welcomeItemTxt i:hover {
  background-color: #95adbe;
  transition: 0.5s;
}
main #welcome .all .welcomeItemTxt h2 {
  font-family: Lora, serif;
  font-size: 24px;
  color: #000000;
  font-weight: 600;
  line-height: 36px;
  min-height: 40px;
  display: flex;
  align-items: end;
  justify-content: center;
}
main #welcome .all .welcomeItemTxt p {
  font-family: Roboto, Arial, sans-serif;
  font-size: 17px;
  color: #111111;
  line-height: 31px;
  font-weight: 400;
  color: #808080;
  text-align: center;
}
main #homeProdCnts {
  width: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
main #homeProdCnts .miniDiv {
  width: 33%;
  min-height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main #homeProdCnts .miniDiv img {
  width: 95%;
}
main #homeProdCnts .miniDiv h2 {
  color: #141517;
  font-size: 22px;
  font-weight: 700;
  font-family: poppins;
}
main #homeProdCnts .miniDiv button {
  background-color: #141517;
  font-size: 14px;
  line-height: 57px;
  color: #ffffff;
  font-weight: 700;
  border: none;
  transition: 0.5s;
  width: 25%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main #homeProdCnts .miniDiv button:hover {
  background-color: transparent;
  color: #141517;
  border: 1px solid #141517;
}
main .loadMore {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
}
main .loadMore #loadMore {
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  color: #ffffff;
  line-height: 27px;
  font-weight: 500;
  min-width: 180px;
  min-height: 57px;
  border: none;
  border-radius: 5px;
  background-color: #95adbe;
}